/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 100px;
    width: 120px;
    padding-right: 5px;
    
}



/* --------- Game layout */

.game-area {
    background-color: #bad5d5;
    box-sizing: border-box;
    width: 85%;
    height: 71vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.choice-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    
}




.score-area {
    margin: 1px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}





.game-area img  {
width: 75%;
height: 75%;

}







.scores {
    display: inline-block;
    padding: 25px;
}



/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}



.btn--rock {
    border-color: blue;
    color: blue;
}

.btn--rock:active,
.btn--rock:hover {
    background-color: blue;
    
}

.btn--paper {
    border-color: #4e832e;
    color: #4e832e;
}

.btn--paper:active,
.btn--paper:hover {
    background-color: #4e832e;
    
}

.btn--scissors {
    border-color: red;
    color: red;
}

.btn--scissors:active,
.btn--scissors:hover {
    background-color: red;
    
}









/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .choice-area {
        padding: 10% 0;
        width: 100%;
    }

    .choice-area span {
        padding: 0;
    }

    

    
    

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
    .choice-area {
        padding: 10px 0;
    }

}